form(class="navbar-form pull-right",action="/",method="post")
	input.span2(type="email",placeholder="Email", name="username")
	input.span2(type="password",placeholder="Password", name="password")
	button(type="submit", class="btn btn-primary") Sign in
