extends layout

block content
	div(class="row-fluid sortable",ng-controller="update_node")
		div(class="box span4",ng-repeat="node in nodes",data-toggle="context",data-target="#context_{{node.node_id}}")
			div(class="box-header well")
				h2
					i(class="icon-th-large")
					| &nbsp;{{node.node_id}}
				div(class="box-icon")
					battery(node="{{node}}")

			.box-content
				.box-content
					ul(class="dashboard-list")
						li
							img(alt="",ng-src="{{node.img}}",class="dashboard-avatar")
							abbr(title="Last Received",class="initialism") {{node.last_received | date:'MM/dd/yyyy h:mm:ssa'}}
							p {{node.name}}

					.top-block
						if (user)
							inputs(input="{{node.inputs}}",node="{{node.node_id}}",info="{{node.inputs_info}}",user="{{'#{user.email}'}}")
						else
							inputs(input="{{node.inputs}}",node="{{node.node_id}}",info="{{node.inputs_info}}",user="")

						br
						br
						strong PWM: &nbsp;
						h8(id="pwm_{{node.node_id}}",class="text-info") {{node.pwm}}
						if (user)
							div(pwm,value="node.pwm",user="'#{user.email}'",node="node.node_id",ng-click="change_value(node, '#{user.email}')")
						else
							div(pwm,id="pwmm_{{node}}",value="node.pwm",user="",node="node.node_id",ng-click="change_value(node, '')")

						canvas(gauge,ng-repeat="adc in node.adcs",adc="adc",width="110",height="120")
					
			div(id="context_{{node.node_id}}")
				if(user)
					ul(class="dropdown-menu",role="menu")
						li
							a(tabindex="-1",href="#modal_upload_{{node.node_id}}",data-toggle="modal") Upload Photo
						li
							a(tabindex="-1",ng-click="reset_image(node.node_id)") Reset Photo

			div(id="modal_upload_{{node.node_id}}",class="modal hide fade",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
				div(class="modal-header btn-inverse")
					button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
					h3 Upload Image to Node

				div(class="modal-body")

					.row-fluid
						.span5
							upload(node="node")
							
						.span2
						
						.span5
							img(ng-show="load",ng-src="{{src}}")
							img(ng-hide="load",ng-src="/img/generic.jpg")

				div(class="modal-footer")
					button(class="btn",data-dismiss="modal",aria-hidden="true") Close
					button(class="btn btn-primary",data-dismiss="modal",aria-hidden="true",ng-click="upload()") Upload
