extends layout

block content
	div(class="row-fluid",ng-controller="update_node")
		div(class="span4 node",ng-repeat="node in nodes",data-toggle="context",data-target="#context_{{node.node_id}}")
			.row-fluid
				.span7
					strong {{node.node_id}}

				.span5
					battery(node="{{node}}")
			.row-fluid
				.span5
					img(alt="",ng-src="{{node.img}}",class="pull-left",class="node-img")
					
				.span7
					abbr(title="Last Received",class="initialism") {{node.last_received | date:'MM/dd/yyyy h:mm:ssa'}}
					p {{node.name}}

			.row-fluid
				.span12
					if (user)
						inputs(input="{{node.inputs}}",node="{{node.node_id}}",info="{{node.inputs_info}}",user="{{'#{user.email}'}}")
					else
						inputs(input="{{node.inputs}}",node="{{node.node_id}}",info="{{node.inputs_info}}",user="")

				.span12
					h8 PWM: &nbsp;
					small(id="pwm_{{node.node_id}}",class="text-info") {{node.pwm}}
					if (user)
						div(pwm,value="node.pwm",class="pwm",user="'#{user.email}'",node="node.node_id",ng-mouseout="change_value(node, '#{user.email}')")
					else
						div(pwm,value="node.pwm",class="pwm",user="",node="node.node_id",ng-click="change_value(node, '')")
						
				.span12
					canvas(gauge,ng-repeat="adc in node.adcs",adc="adc",width="110",height="120")
					
			div(id="context_{{node.node_id}}")
				if(user)
					ul(class="dropdown-menu",role="menu")
						li
							a(tabindex="-1",href="#modal_upload_{{node.node_id}}",data-toggle="modal") Upload Photo

			div(id="modal_upload_{{node.node_id}}",class="modal hide fade",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
				div(class="modal-header btn-inverse")
					button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
					h3 Upload Image to Node

				div(class="modal-body")

					.row-fluid
						.span5
							upload(node="node")
							
						.span2
						
						.span5
							img(ng-show="load",ng-src="{{src}}")
							img(ng-hide="load",ng-src="/img/generic.jpg")

				div(class="modal-footer")
					button(class="btn",data-dismiss="modal",aria-hidden="true") Close
					button(class="btn btn-primary",data-dismiss="modal",aria-hidden="true",ng-click="upload()") Upload


