doctype 5
html(lang="en",ng-app="web_monitor",ng-cloak)
	head
		block title
			title Web Monitor: Welcome

		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")

		link(rel="shortcut icon",href="/images/favicon.png")

		link(rel='stylesheet', href='/third-party/twitter-bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/third-party/twitter-bootstrap/css/bootstrap-responsive.css')

		// Charisma.
		link(rel='stylesheet', href='/third-party/charisma/css/charisma-app.css')

		// Epiclock.
		link(rel='stylesheet', href='/third-party/epiclock/stylesheet/jquery.epiclock.css')
		link(rel='stylesheet', href='/third-party/epiclock/renderers/retro/epiclock.retro.css')
		link(rel='stylesheet', href='/third-party/epiclock/renderers/retro-countdown/epiclock.retro-countdown.css')

		link(rel='stylesheet', href='/third-party/jQuery-UI-FileInput/css/enhanced.css')
		link(rel='stylesheet', href='/third-party/jquery-ui/custom-theme/jquery-ui-1.10.0.custom.css')
		link(rel='stylesheet', href='/third-party/twitter-bootstrap/css/daterangepicker.css')

		// not show flash of uncompiled content.
		style
			[ng-cloak] {
				display: none;
				}

	body
		block navbar_header
			div(class="navbar navbar-inverse navbar-fixed-top")
				div(class="navbar-inner navbar-inverse")
				
					div(class="container")
						a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="brand",href="/") Web Monitor

						ul(class="nav")
							li(class="dropdown")
								span(id="state-connection",class="label") Waiting

						if(user)
							div(class="nav-collapse collapse")
								ul(class="nav")
									li(class="")
										a(href="/config") Configuration
							ul(class="nav pull-right")
								li(class="dropdown")
									a(class="dropdown-toggle",data-toggle="dropdown",href="#") #{user.name}
										b(class="caret")
									ul(class="dropdown-menu")
										li
											a(href="/auth/logout") Logout

						else
							include ./auth/login

		div(class="container")
			.navbar
				.navbar-inner
					div(class="brand pull-right")
						dd(epiclock,id="explicit",datetime="'#{datetime}' | date:'MM/dd/yyyy h:mm:ss'")

			block content

		div(id="flash_message")

		block footer
			footer(class="footer")
				div(class="container")
					p(class="pull-right")
						a(href="#") Back to top

		include scripts
