body {
	padding-top         : 60px;
	

	-moz-user-select    : none;
	-khtml-user-select  : none;
	-webkit-user-select : none;
	user-select         : none;
}

.node {
	padding : 5px 5px 5px;
	border  : 1px solid #E5E5E5;
}

.node-img {
	max-width  : 100px;
	max-height : 70px;
}

.nodes {
	padding               : 5px 5px 5px;
	margin                : 0 auto 10px;
	background-color      : #FFF;
	border                : 1px solid #E5E5E5;
	-webkit-border-radius : 5px;
	-moz-border-radius    : 5px;
	border-radius         : 5px;
	-webkit-box-shadow    : 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow       : 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow            : 0 1px 2px rgba(0, 0, 0, .05);
}

.battery {
	margin-bottom : 0px;
	max-width     : 200px;
	font-size     : 10px;
}

.pwm {
	max-width  : 80%;
}

.connection {
	color: white;
}
