body {
	padding-top         : 50px;
	padding-bottom      : 40px;

	-moz-user-select    : none;
	-khtml-user-select  : none;
	-webkit-user-select : none;
	user-select         : none;
}

.sidebar-nav {
	padding : 9px 0;
}

.battery {
	margin-bottom : 0px;
	max-width     : 200px;
	font-size     : 10px;
}

.connection {
	color : white;
}
